<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>

</head>
<body>
<h1>This is a Text analyzer by Rishabh Gupta</h1>
<form action="/analyzer" method="get">
    <textarea name="text" spellcheck="false" style="margin: 0px; width: 1112px; height: 213px;"></textarea>
    <br>
    <input type="checkbox" name="yesorno"> Check for remove punctuations
    <input type="checkbox" name="capitalize"> CAPITALIZE FIRST
    <input type="checkbox" name="newlineremover"> Remove NEW line
    <input type="checkbox" name="extraspaceremover"> Extra space remover
    <input type="checkbox" name="charcount"> count caracter
    <button type="submit">Analyz text</button>

</form>

</body>
</html>